#spinner {
  pointer-events: none;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 5px;
  bottom: 42px;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (min-width: 1201px) {
  #spinner {
    bottom: 12px;
  }
}

#spinner.loaded {
  opacity: 0;
  animation-name: hide;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
